*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gridContainer{
width: 100%;
background-color: cadetblue;
display: flex;
justify-content: center;
}

.leftContainer{
    width: 20%;
    background-color:white;
    position: absolute;
    left: 430px;
    top: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.rightContainer{
    width: 20%;
    background-color:white;
    margin-left: 280px;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
 .header{
    padding: 20px;
    text-align: left;
    line-height: 1.5;
 }

.header p1{
    font-size: 17px;
    font-family:"Poppins", sans-serif ;
    color:rgb(168,170,179);
}
.header h1{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color:rgb(164,166,175);
}
.header h3{
    font-size: 20px;
    font-weight: 700;
    font-family:"Poppins", sans-serif ;
    color: rgb(76,78,97);
}

.card1{
    width:90%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-top: 5px solid rgb(95,217,217);
    border-radius: 10px;
    margin-left: 15px;
    margin-bottom: 25px;
    padding: 10px;
}

.card2{
    width:90%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-top: 5px solid rgb(234,83,83);
    border-radius: 10px;
    margin-left: 15px;
    margin-bottom: 25px;
    padding: 10px;
}
.card3{
    width:90%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-top: 5px solid  rgb(252,179,83);
    border-radius: 10px;
    margin-left: 15px;
    margin-bottom: 25px;
    padding: 10px;
}
.card4{
    width:90%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-top: 5px solid rgb(84,158,242);
    border-radius: 10px;
    margin-left: 15px;
    margin-bottom: 25px;
    padding: 10px;
}
.card5{
    width:90%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-top: 5px solid rgb(214, 9, 136);
    border-radius: 10px;
    margin-left: 15px;
    margin-bottom: 25px;
    padding: 10px;
}
.card1, .card2, .card3, .card4, .card5, h2{
    padding-top: 10px;
    margin-left: 20px;
    color:rgb(76,78,97);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card1,.card2,.card3,.card4,.card5, p{
    padding-top: 10px;
    margin-left: 20px;
    color: rgb(168,170,179);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

.logo img{
    margin-left: 160px;
    height: 60px;
    margin-bottom: 15px;
    margin-top: 50px;
}

.rightContainer .card3{
    margin-top: 20px;
}

